<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://www.w3schools.com/lib/w3.js"></script>
<head>
    <title>Admin Panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/mortfors.css" th:href="@{/css/mortfors.css}" />
</head>

<body>

    <div w3-include-html="../fragments/header.html" th:replace="fragments/header :: header"></div>

    <div id="maincontainer">

        <table id="maintable">
            <tr>

                <td w3-include-html="../fragments/left.html" id="mainleft" th:replace="fragments/left :: left"> </td>

                <td class="maincentre">
                    <div id="maincentre">
                        <p th:inline="text">Logged in as [[${#httpServletRequest.remoteUser}]]</p>
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Sign Out"/>
                        </form>

                        <p th:each="article: ${articles}">
                            <span th:text="'Date: ' + ${article.date}"></span>
                            <a  th:text="${article.headline}" th:href="@{/public/article(id=${article.id})}">Headline</a>
                        </p>

                        <h2>Employee list</h2>
                        <table>
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name Surname</th>
                                <th> Personal number</th>
                                <th>Note</th>
                            </tr>
                            </thead>
                            <tbody th:remove="all-but-first">
                            <tr th:each="empl,iterStat : ${employeeList}">
                                <td th:unless="${#lists.isEmpty(employeeList)}" th:text="${iterStat.count}">1</td>
                                <td>
                                    <a th:text="${empl.firstName} + ' ' + ${empl.lastName}" href="#" th:href="@{/articles(searchAuthor=${empl.personId})}"> Karl Karlsson </a>
                                </td>
                                <td th:text="${empl.personalNumber}">19001010-1234</td>
                                <td th:text="${empl.note}">Animals</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>John Johnsson</td>
                                <td>19002020-1234</td>
                                <td>Sport</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Jan Jansson</td>
                                <td>19880505-1234</td>
                                <td>Celebs</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Rasmus Rasmusson</td>
                                <td>19700707-1234</td>
                                <td>Politics</td>
                            </tr>
                            </tbody>
                        </table>

                        <p><h2>Add new author</h2></p>
                        <form th:action="@{/admin/adminpanel}" th:object="${new_author}" method="post">
                            <table style="border:none; padding: 10px">
                                <tr>
                                    <td>
                                        First name:
                                    </td>
                                    <td>
                                        <input class="new_article" name="firstname" th:field="*{firstName}" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Last name:
                                    </td>
                                    <td>
                                        <input  class="new_article" name="lastname"  th:field="*{lastName}" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Personal Number:
                                    </td>
                                    <td>
                                        <input  class="new_article" name="pn" th:field="*{personalNumber}" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Note:
                                    </td>
                                    <td>
                                        <input  class="new_article" name="note" th:field="*{note}" />
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input type="submit" value="Add"/></td>
                                </tr>
                            </table>

                        </form>

                    </div>
                </td>

                <td w3-include-html="../fragments/right.html" id="mainright" th:replace="fragments/right :: right"> </td>

            </tr>
        </table>
    </div>

    <footer w3-include-html="../fragments/footer.html" id="footer" th:replace="fragments/footer :: footer"></footer>

<script>
    w3.includeHTML();
</script>

</body>
</html>