<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://www.w3schools.com/lib/w3.js"></script>
<head>
    <title>Article</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/mortfors.css" th:href="@{/css/mortfors.css}" />
</head>

<body>

    <div w3-include-html="../fragments/header.html" th:replace="fragments/header :: header"></div>

    <div id="maincontainer">
        <table id="maintable">
            <tr>

                <td w3-include-html="../fragments/left.html" id="mainleft" th:replace="fragments/left :: left"> </td>

                <td class="maincentre">
                    <div id="maincentre">
                        <!--<div class="article">-->
                            <h1 class="article" th:text="${article.headline}">Article Headline</h1>
                            <p align="center" style="font-size:12px; font-style: italic" th:text="${article.lead}">Article lead</p>
                            <p> AUTHOR:
                                <span th:each="author : ${article.authors}">
                                    <a href="main.html" th:text="${author.firstName} + ' ' + ${author.lastName}"
                                    th:href="@{/articles(searchAuthor=${author.personId})}" >Author Name</a> </span>
                                <span th:text="'| PUBLISHED ON: ' + ${article.date}"> | PUBLISHED ON: Date </span>
                            </p>
                            <p> Main category:
                                <a href="main.html" th:text ="${article.mainCat}" th:href="@{/articles(mainCat=${article.mainCat})}" > mainCat </a></p>
                            <p> Subcategory:
                                <a href="main.html" th:text ="${article.subCat}" th:href="@{/articles(subCat=${article.subCat})}" > subCat </a></p>
                            <p th:utext="${article.body}" > Artiicle body artiicle body artiicle body artiicle body artiicle body artiicle body
                                artiicle body artiicle body artiicle bodyartiicle body artiicle body artiicle body artiicle body artiicle body
                                artiicle body artiicle bodyartiicle bodyartiicle bodyartiicle bodyartiicle bodyartiicle bodyartiicle body
                                artiicle body artiicle body Artiicle body artiicle body artiicle body artiicle body artiicle body artiicle body
                                artiicle body artiicle body artiicle bodyartiicle body artiicle body artiicle body artiicle body artiicle body
                                artiicle body artiicle bodyartiicle bodyartiicle bodyartiicle bodyartiicle bodyartiicle bodyartiicle body
                                artiicle body artiicle body Artiicle body artiicle body artiicle body artiicle body artiicle body artiicle body
                                artiicle body artiicle body artiicle bodyartiicle body artiicle body artiicle body artiicle body artiicle body
                                artiicle body artiicle bodyartiicle bodyartiicle bodyartiicle bodyartiicle bodyartiicle bodyartiicle body
                                artiicle body artiicle body </p>
                        <!--</div>-->

                        <h2 class="article" th:unless="${#lists.isEmpty(comments)}">Comments</h2>

                        <!--<div>-->
                            <table class="comment" th:each="comment: ${comments}">
                                <tr class="commenthead">
                                    <td th:text="'By: ' + ${comment.nickname}"> </td>
                                    <td th:if="${#httpServletRequest.isUserInRole('ADMIN')}" class="commentdelete">
                                        <a href="index.html"
                                           th:href="@{/public/article(id=${article.id},deleteComment=${comment.id})}">Delete</a>
                                    </td>
                                </tr>
                                <tr class="commenthead">
                                    <td th:text="'Posted on: '+ ${comment.commentDate}"></td>
                                    <td th:if="${#httpServletRequest.isUserInRole('ADMIN')}" class="commentdelete"></td>
                                </tr>
                                <tr class="commenttext">
                                    <td th:text="${comment.commentText}">
                                    </td>
                                    <hr/>
                                </tr>
                            </table>
                        <!--</div>-->

                        <h2 class="article">Write comment</h2>
                        <form class="writecomment" th:href="@{/public/article(id=${article.id})}" th:object="${comment}" method="post">
                            <p>Nickname: <input type="text" th:field="*{nickname}" /></p>
                            <br/> <textarea name='comment' id='comment' cols="60" rows="5" th:field="*{commentText}" ></textarea><br/>
                            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
                        </form>
                    </div>
                </td>

                <td w3-include-html="../fragments/right.html" id="mainright" th:replace="fragments/right :: right"> </td>

            </tr>
        </table>
    </div>

    <footer w3-include-html="../fragments/footer.html" id="footer" th:replace="fragments/footer :: footer"></footer>

    <script>
    w3.includeHTML();
</script>

</body>
</html>