<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<script src="https://www.w3schools.com/lib/w3.js"></script>
<head>
    <title> Login Page </title>
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/mortfors.css" th:href="@{/css/mortfors.css}" />
</head>

<body>

<div w3-include-html="../fragments/header.html" th:replace="fragments/header :: header"></div>

<div id="maincontainer">
    <table id="maintable">
        <tr>

            <td w3-include-html="../fragments/left.html" id="mainleft" th:replace="fragments/left :: left"> </td>

            <td class="maincentre">
                <div id="maincentre">
                    <div id="login-box">
                        <h2>Enter your credentials: </h2>
                        <div style="text-align: center" th:if="${param.error}">
                            Invalid username or password.
                        </div>
                        <br/>
                        <div style="text-align: center" th:if="${param.logout}">
                            You have been logged out.
                        </div>
                        <br/>

                        <form th:action="@{/public/login}" method="post">
                            <table style="border:none">
                                <tr>
                                    <td>Username:</td>
                                    <td><input type="text" name="username"/></td>
                                </tr>
                                <tr>
                                    <td>Password:</td>
                                    <td><input type="password" name="password"/></td>
                                </tr>
                                <tr>
                                    <td colspan='2'>
                                        <input type="submit" value="Sign In"/>
                                    </td>
                                </tr>
                            </table>
                            <!--<input type="hidden"-->
                                   <!--name="${_csrf.parameterName}" value="${_csrf.token}" />-->
                        </form>
                    </div>
                </div>
            </td>

            <td w3-include-html="../fragments/right.html" id="mainright" th:replace="fragments/right :: right"> </td>

        </tr>
    </table>
    </div>

    <div w3-include-html="../fragments/footer.html" id="footer" th:replace="fragments/footer :: footer"> </div>

<script>
    w3.includeHTML();
</script>

</body>
</html>