<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://www.w3schools.com/lib/w3.js"></script>
<head>
    <title>Mörtfors Dagblad</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/mortfors.css" th:href="@{/css/mortfors.css}" />
</head>

<body>

    <div w3-include-html="../fragments/header.html" th:replace="fragments/header :: header"></div>

    <div id="maincontainer">
        <table id="maintable">
            <tr>

                <td w3-include-html="../fragments/left.html" id="mainleft" th:replace="fragments/left :: left"> </td>

                <td class="maincentre">
                    <div id="maincentre">
                        <h1 class="article" th:text="${page_head}">Latest News</h1>
                        <table style="border: none">
                            <tbody th:remove="all-but-first">
                            <tr style="padding-bottom: 1em" th:each="article: ${articles}">
                                <td style="width:150px; padding-bottom: 1em">
                                    <a href="../public/main.html" th:href="@{public/article(id=${article.id})}">
                                        <img class="thumbnail" src="http://sensesofcinema.com/assets/themes/valenti/library/images/thumbnail-360x240.png"
                                             th:src="@{ ${#lists.isEmpty(article.pictures) ?
                                                        'http://vollrath.com/ClientCss/images/VollrathImages/No_Image_Available.jpg' : article.pictures[0].url} }"
                                         alt="No article picture"/>
                                    </a>
                                </td>
                                <td>
                                    <h3 class="articlelisttitle" >
                                        <a  th:text="${article.headline}" th:href="@{public/article(id=${article.id})}">Headline</a>
                                    </h3>
                                    <span style="font-style:italic" th:text="${article.lead} + ',   '">Lead Text</span>
                                    <span th:text="${article.date}">Date Published</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>

                <td w3-include-html="../fragments/right.html" id="mainright" th:replace="fragments/right :: right"> </td>

            </tr>
        </table>
    </div>

    <div w3-include-html="../fragments/footer.html" id="footer" th:replace="fragments/footer :: footer"> </div>

<script>
    w3.includeHTML();
</script>

</body>
</html>