html {
    background-color: #bdbdbd;
}

body {
    font-family: 'DejaVu Sans', Arial, Helvetica;
    font-size: 12px;
    padding: 5px 5px;
}

#topcontainer {
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    width: 840px;
}

#toptable {
    border-radius: 10px;
    background-color: #ffffff;
    width: 840px;
}

#toptable, #toptable tr, #toptable td {
    border: 0;
}

#topleft, #topright {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    font-size: 12px;
}

#topleft {
    width: 24%;
}

#topright {
    width: 74%;
}

#maincontainer {
    margin-bottom: auto;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

#maintable {
    width: 100%;
    height:100%;
    min-height:100%;
}

#maintable #mainleft h2 {
    text-align: left;
    padding-top: 100px;
    color: #006400;
}

#maintable #mainright h2 {
    text-align: right;
    padding-top: 100px;
    color: #006400;
}

#maintable, #maintable tr, #maintable td {
    border: 0;
    min-height:100%;
}

#mainleft {
    color: #006400;
    background-color: #bdbdbd;
}

#mainright {
    color: #006400;
    background-color: #bdbdbd;
    text-align: right;
}

#mainleft ol {
    text-align: left;
    padding-left: 0;
}

#login-box {
    width: 300px;
    padding: 20px;
    margin: 100px auto;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 2px solid #bdbdbd;
}

input.new_article {
    width: 300px;
}

h1.article {
    font-size: 22px;
    color: #99cc33;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

h2.toprightpanel {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 14px;
}

h3.articlelisttitle {
    text-align: left;
    margin-top: 20px;
    margin-bottom:5px;
}

h2 {
    text-align: center;
    font-size: 16px;
    color: #99cc33;
}

tr.odd td {
    background-color: #f0faaa;
}

td.number {
    text-align: right;
}

td.maincentre {
    border-radius: 10px;
    position: absolute;
    background-color: #ffffff;
    padding: 30px;
    left: 0;
    right: 0;
    margin: auto;
    width: 800px;
}

tr.commenttext {
    font-size: 14px;
}

tr.commenthead {
    background-color: #99cc33;
}

td.commentdelete {
    text-align: right;
    /*background-color: #99cc33;*/
}

table {
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
    padding-bottom: 10px
}

table.comment {
    width: 100%;
    border: none;
    border-collapse: collapse;
}

form.writecomment {
    width: 100%;
    padding: 20px 20px;
    text-align: center;
}

div.comment {
    padding: 20px 20px;
}

div.article {
    margin-bottom: 100px;
}

p.articlelist {
    padding: 20px 20px;
    line-height:25px;
}

table > tbody > tr > td, table > thead > tr > th {
    padding: 2px 10px;
    border-left: 1px dotted #000000;
    vertical-align: top;
    line-height: 20px;
}

table > tbody > tr, table > thead > tr {
    border-bottom: 1px solid #000000;
}

table th {
    background-color: #99cc33;
}

table > tbody > tr > td > a, table > tbody > tr > td > a:hover {
    text-decoration: none;
    font-weight: bold;
    border: 0px;
}


table.comment > tbody > tr, table > thead > tr {
    border: none;
    padding-top: .20em;
    padding-bottom: .20em;
}

table.comment > tbody > tr > td, table > thead > tr > th {
    border-left: none;
    padding: 2px 10px;
    vertical-align: top;
    line-height: 20px;
}

ol > li {
    margin-top: 10px;
}

ol.sidelist {
    list-style-type:none;
}

a {
    text-decoration: none;
    color: #777;
    border-bottom: 1px dotted #777;
}

a.toprightpanel {
    color: #006400;
}

a.logo {
    color: unset;
    border-bottom: none;
}

div.adminlogin {
    text-align: right;
}

a:hover {
    color: #99cc33;
    border-bottom: 1px solid #99cc33;
}

img.articleimg {
    display: block;
    width:540px; /* you can use % */
    height: auto;
    margin-left: auto;
    margin-right: auto
}

img.thumbnail {
    display: block;
    width:150px; /* you can use % */
    height: auto;
    margin-left: auto;
    margin-right: auto
}