<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Article</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <img th:src="${article.image}" th:alt="${article.altimage}" />
        <p align="center" style="font-size:9px" th:text="${article.imgDescription}"/>
        <p align="center" style="font-size:20px; color: rebeccapurple" th:text="${article.headline}" />
        <p align="center" style="font-size:11px" th:text="${article.author}"/>
        <p align="center" th:text="${article.date}" />
        <p align="center" style="font-size:14px" th:text="${article.lead}" />
        <p align="center" th:text="${article.body}" />
    </body>
</html>